.footer-logo{
    max-height: 100px !important;
    cursor: pointer;
    width: 90%;
}

a{
    cursor: pointer;
}

.sec-tarjetas img{
    height: 1.25rem;
    margin-right: 10px;
}

@media(max-width: 575px){
    .footer-logo-section{
        display: none;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .footer-logo-section{
        display: none;
    }
}