<footer class="bg-dark text-white pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pl-5">
        <h5 class="text-uppercase">Información</h5>
        <ul>
          <li><a class="text-white" routerLink="/" routerLinkActive="active">Términos y Condiciones</a></li>
          <li><a class="text-white" routerLink="/" routerLinkActive="active">Preguntas Frecuentes</a></li>
          <li><a class="text-white" routerLink="/" routerLinkActive="active">Contáctenos</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 footer-logo-section">
        <a routerLink="/" routerLinkActive="active">
          <img src="../../assets/imgs/logo_before_white.png" class="footer-logo">
        </a>
      </div>
    </div>
  </div>
</footer>