<footer class="bg-light text-dark pt-4 pb-4">
  <div class="sec-tarjetas row">
    <div class="col-md-6 text-left">
      Métodos de Pago: 
    </div>
    <div class="col-md-6 text-right">
      <img src="../../assets/imgs/visa.png" alt="">
      <img src="../../assets/imgs/mastercard.png" alt="">
      <img src="../../assets/imgs/americanexpress.png" alt="">
      <img src="../../assets/imgs/dinersclub_negro.png" alt="">
    </div>
  </div>
</footer>
<footer class="bg-dark text-white pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-5 col-lg-4 col-xl-4">
        <h5 class="text-uppercase">Información</h5>
        <ul>
          <li><a class="text-white" routerLink="/como-funciona" routerLinkActive="active">Términos y Condiciones</a></li>
          <li><a class="text-white" routerLink="/como-funciona" routerLinkActive="active">Preguntas Frecuentes</a></li>
          <li><a class="text-white" routerLink="/como-funciona" routerLinkActive="active">Contáctenos</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 text-center follow-us">
        <p>Siguenos en</p>
        <div>
          <a href="" target="_blank" class="btn btn-link text-light social_button"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/compralocal.pe/" target="_blank" class="btn btn-link text-light social_button"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="copyright mt-2">
          <small>
            © 2021 CompraLocal | Todos los derechos reservados
          </small>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 footer-logo-section text-right">
        <a routerLink="/" routerLinkActive="active">
          <img src="../../assets/imgs/logo_new_blanco.png" class="footer-logo">
        </a>
      </div>
    </div>
  </div>
</footer>