.footer-logo{
    max-height: 100px !important;
    position: absolute;
    right: 10%;
    cursor: pointer;
}

a{
    cursor: pointer;
}

@media(max-width: 575px){
    .footer-logo-section{
        display: none;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .footer-logo-section{
        display: none;
    }
}