<div class="container mt-5 mb-5">
    <h2 class="fw-800">¿Cómo funciona?</h2>

    <div class="info-section">
        <div class="info-block">
            <h4 class="info-title">
                <u>
                    Cómo comprar en compralocal
                </u>
            </h4>
            <div class="info-content">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="section-title">
                            1. Registrate
                        </div>
                        <div class="section-content">
                            <small>
                                Vamos a crear una relación de confianza, por ello necesitamos conocernos. Regístrate
                                aquí de una manera segura y confiable. De acá en adelante, cada paso que des contarás
                                con cada
                                uno de nosotros, la familia de CompraLocal. Si tienes alguna duda, contáctanos.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            2. Haz tu pedido online
                        </div>
                        <div class="section-content">
                            <small>
                                A través de nuestra plataforma on Line, podrás encontrar todos los productos que
                                necesitas y agregarlos a tu carrito de compras. Para darte mayor seguridad, trabajamos
                                con Culqui, una de las plataformas de pago más seguras para compras online.
                                Recuerda que antes de finalizar tu compra, podrás seleccionar que proyecto apoyar, a
                                quienes se les dará un porcentaje de los ingresos por las ventas.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            3. Tu pedido se envía directamente al productor
                        </div>
                        <div class="section-content">
                            <small>
                                La plataforma está programada para que una vez realizado el pago, se emita una 
                                alerta con tu pedido al productor, quien se encargará de preparar tus productos.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            4. Recibimos y entregamos tu compra
                        </div>
                        <div class="section-content">
                            <small>
                                Una vez recibida la orden de compra, tu entrega se programará en un plazo de entre
                                5 y 7 días, tiempo en el cuál recibiremos tus productos y procederemos a entregarlos
                                con toda la seguridad del caso.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            5. No olvides
                        </div>
                        <div class="section-content">
                            <small>
                                Nuestra motivación es:
                                <br>
                                <div class="ml-3">
                                    a. Impulsar el desarrollo de familias independientes. <br>
                                    b. Promover la solidaridad dentro del país, promover el cuidado y
                                    respeto por nuestro entorno socioambiental y generar fortaleza, seguridad y
                                    felicidad entre los productores locales. <br>
                                    c. Promover una economía más equitativa e impulsar el crecimiento del país. <br><br>
                                </div>
                                Por ahora, nuestro alcance principal es en Lima Metropolitana. Sin embargo, ya estamos
                                trabajando para llegar a todo el Perú e inclusive para poder brindarle a todo el mundo
                                la calidad y el placer de tener nuestros productos en sus hogares.<br>
                                No te alejes que lo que está por venir cambiará nuestro país.
                            </small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- <div class="info-block">
            <h4 class="info-title">
                <u>
                    Cómo comprar en compralocal
                </u>
            </h4>
            <div class="info-content">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="section-title">
                            1. Registrate
                        </div>
                        <div class="section-content">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel auctor ipsum, sit amet
                                elementum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
                                pharetra
                                ante,
                                sed gravida lectus. Maecenas sed ante eget nisi semper dapibus sed quis leo. Suspendisse
                                finibus
                                enim augue, ac faucibus nulla porta sit amet.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            1. Registrate
                        </div>
                        <div class="section-content">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel auctor ipsum, sit amet
                                elementum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
                                pharetra
                                ante,
                                sed gravida lectus. Maecenas sed ante eget nisi semper dapibus sed quis leo. Suspendisse
                                finibus
                                enim augue, ac faucibus nulla porta sit amet.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            1. Registrate
                        </div>
                        <div class="section-content">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel auctor ipsum, sit amet
                                elementum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
                                pharetra
                                ante,
                                sed gravida lectus. Maecenas sed ante eget nisi semper dapibus sed quis leo. Suspendisse
                                finibus
                                enim augue, ac faucibus nulla porta sit amet.
                            </small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="section-title">
                            1. Registrate
                        </div>
                        <div class="section-content">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel auctor ipsum, sit amet
                                elementum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
                                pharetra
                                ante,
                                sed gravida lectus. Maecenas sed ante eget nisi semper dapibus sed quis leo. Suspendisse
                                finibus
                                enim augue, ac faucibus nulla porta sit amet.
                            </small>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->

    </div>
</div>