.nav-elements{
    flex-grow: inherit;
}

.navbar-logo{
    max-height: 5rem !important;
    cursor: pointer;
}

.nav-link{
    cursor: pointer;
}

/* .search{
    width: 50%;
    margin-left: 8rem;
} */

.search input{
    width: 85%;
    color: var(--primary3);
}

.search input{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    cursor: pointer;
}

.search input:hover{
    box-shadow: 0 0 10px rgba(32, 195, 216, 0.5);
}

.search > button{
    width: 10%;
}

.form-inline{
    display: inline;
}

.first-nav{
    padding: 0;
    font-size: 0.8rem;
}

.ddCart{
    width: 20rem;
}

.first-nav li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
}

.first-nav a{
    color: gray;
    font-weight: 700;
    border-bottom: 2px solid var(--primary3);
    line-height: 0.4rem;
    font-size: 0.85rem;
}

.first-nav a:hover{
    color: var(--dark3);
}

.nav-categoria{
    padding-top: 0;
    padding-bottom: 0;
}

.nav-categoria .nav-link{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.nav-categoria .nav-item:hover{
    background-color: white;
}

.nav-categoria .nav-item:active{
    background-color: white;
}

.nav-categoria .nav-item:hover a{
    color: var(--primary3);
}

.nav-categoria .nav-item:active a{
    color: var(--primary3);
}

.nav-categoria .dropdown-menu .dropdown-item{
    color: var(--primary3);
}

.nav-categoria li{
    padding: 0.5rem;
}

.nav-categoria-2 .nav-link{
    color: var(--primary3);
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-categoria-2 .nav-link:hover{
    color: var(--dark3);
}

.nav-categoria-2 .nav-link:active{
    color: var(--dark3);
}

.nav-categoria-2 .dropdown-menu .dropdown-item{
    color: var(--primary3);
}

.dropdown:hover .dropdown-menu {
    height: auto;
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.cart-img{
    max-height: 3.5rem;
}

.cart-item{
    cursor: pointer;
}

.dropdown-item{
    cursor: pointer;
}

td > p{
    margin: 0;
}

.success, .error{
    width: 35%;
    left: auto;
}

::placeholder{
    color: var(--primary3);
}

.btn-link{
    color: var(--primary2);
}

.btn-link:hover{
    color: var(--dark2);
}

.dropdown-menu-right .dropdown-item{
    color: var(--primary2);
}

.circle-count{
    height: 1.2rem;
    width: 1.2rem;
    padding-top: 0.05rem;
    background-color: var(--primary1);
    color: white;
    top: 0rem;
    left: 2.3rem;
    font-size: 0.7rem;
}

.mini-cart-products{
    max-height: 250px;
}