<!--3 navbar section-->
<!--navbar información y contacto-->
<nav class="navbar navbar-light bg-light justify-content-between navbar-expand-lg border-bottom first-nav">
  <div class="pl-3">
    <!--Información-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Como funciona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ayuda</a>
      </li>
    </ul>
  </div>
  <div class="pr-3">
    <!--Contacto-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Localizacion</a>
      </li>
      <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mail</a>
      </li>
      <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Celular</a>
      </li>
      <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Telefono</a>
      </li>
    </ul>
  </div>
</nav>

<!--navbar logo, buscador, usuario y carrito-->
<nav class="navbar navbar-light bg-light justify-content-between navbar-expand-lg row">
  <div class="col-md-4 text-left">
    <a (click)="goToHome()"><img src="../../assets/imgs/logoCL-Morado.png" class="navbar-logo navbar-brand"></a>
  </div>

  <div class="col-md-4">
    <form class="form-inline text-center search">
      <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" id="search" name="search"
        [(ngModel)]="searchText">
      <button class="btn btn-link" type="submit" (click)="listProdSearch()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
      </button>
    </form>
  </div>

  <div class="col-md-4 text-right">
    <div *ngIf="userService.userInfo" class="d-inline-block">
      <div class="dropdown mr-2">
        <a class="btn btn-link dropdown-toggle">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
          </svg>
          {{userService.userInfo.name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <button *ngIf="userService.userInfo.userTypeId == 1" type="button" class="dropdown-item" data-toggle="modal"
            data-target="#ModalNewUser">Agregar Usuario</button>
          <button *ngIf="userService.userInfo.userTypeId == 1" type="button" class="dropdown-item" data-toggle="modal"
            data-target="#ModalNewProduct">Agregar Producto</button>
          <button *ngIf="userService.userInfo.userTypeId == 1" type="button" class="dropdown-item" data-toggle="modal"
            data-target="#ModalNewSupplier">Agregar Proveedor</button>
          <button *ngIf="userService.userInfo.userTypeId == 1" type="button" class="dropdown-item" data-toggle="modal"
            data-target="#ModalNewCategoria">Agregar Categoria</button>
          <button *ngIf="userService.userInfo.userTypeId == 1" type="button" class="dropdown-item" data-toggle="modal"
            data-target="#ModalNewSubCategoria">Agregar Subcategoria</button>
          <button type="button" class="dropdown-item" (click)="logout();" routerLink="/">Salir</button>
        </div>
      </div>
    </div>
    <div *ngIf="!userService.userInfo" class="d-inline-block">
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ModalIngreso">Ingresar</button>
      /
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ModalRegistro">Registrarse</button>
    </div>
    |
    <div class="dropdown d-inline-block">
      <!-- <button type="button" class="btn btn-outline-secondary mr-3" [routerLink]="['/cart']">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
      </button> -->
      <button type="button" class="btn btn-link dropdown-toggle position-relative" (click)="goToCart()">
        <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg> -->
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-fill mr-2" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
        </svg>
        <label class="position-absolute circle-count border border-dark rounded-circle">
          {{cartService.cartQuantity}}
        </label>
        Tus productos
      </button>
      <div class="dropdown-menu dropdown-menu-right ddCart mr-3">

        <div *ngIf="cartService.cartInfo && cartService.cartInfo.length > 0">
          <div class="d-flex justify-content-between pl-2 pr-2">
            <div class="text-left ml-2">
              <p># Productos</p>
              <p>{{cartService.cartQuantity}}</p>
            </div>
            <div class="text-right mr-2">
              <p>Subtotal</p>
              <p>{{cartService.cartTotalPrice}}</p>
            </div>
          </div>

          <div class="table-wrapper-scroll-y my-custom-scrollbar overflow-auto mini-cart-products">
            <table class="table text-center table-bordered table-striped">
              <tbody>
                <tr *ngFor="let c of cartService.cartInfo; index as i;" (click)="goToProducto(c.product.id)"
                  class="cart-item">
                  <td><img [src]="'https://compralocal-s3-product-images.s3.us-east-2.amazonaws.com/' + c.product.image" class="cart-img"></td>
                  <td>
                    <p>{{c.product.name}} ({{c.product.price}})</p>
                    <p>{{c.quantity}}</p>
                  </td>
                  <td>{{c.totalPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" (click)="goToCart()">Finalizar Compra</a>
        </div>
        <div *ngIf="cartService.cartInfo.length == 0" class="text-center">
          No se encuentran items.
        </div>

      </div>
    </div>
  </div>
</nav>

<!--Navbar relleno de color-->
<nav class="navbar navbar-light cl-bg2 navbar-expand-lg">
  <hr>
</nav>

<!--navbar categorias-->
<nav class="navbar navbar-light cl-bg3 justify-content-between navbar-expand-lg nav-categoria">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngFor="let cate of categorias">
        <a class="nav-link" (click)="listProdCat(cate.id);">
          {{cate.name}}
        </a>
        <div class="dropdown-menu" *ngIf="cate.subcategories.length > 0">
          <a class="dropdown-item" *ngFor="let sub of cate.subcategories"
            (click)="listProdSubCat(sub.id)">{{sub.name}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--Modals section-->
<div class="modal fade" id="ModalIngreso" tabindex="-1" role="dialog" aria-labelledby="ModalIngreso" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalIngresoLongTitle">Ingresar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeLoginModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="usernameLog">Usuario</label>
            <input type="text" class="form-control" id="usernameLog" name="usernameLog" [(ngModel)]="newUser.username">
          </div>
          <div class="form-group">
            <label for="contraseñaLog">Contraseña</label>
            <input type="password" class="form-control" id="contraseñaLog" name="contraseñaLog"
              [(ngModel)]="newUser.password">
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="login();">Ingresar</button>
          <button class="btn btn-danger btn-block" (click)="signInWithGoogle()">
            <i class="fab fa-google"></i>
            Iniciar con Google
          </button>
          <button class="btn btn-block bg-info text-light" (click)="signInWithFB()">
            <i class="fab fa-facebook"></i>
            Iniciar con Facebook
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="ModalRegistro"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalRegistroLongTitle" routerLink="/">Registrarse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeRegModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreReg">Nombre</label>
            <input type="text" class="form-control" id="nombreReg" name="nombreReg" [(ngModel)]="newUser.name">
          </div>
          <div class="form-group">
            <label for="usernameReg">Usuario</label>
            <input type="text" class="form-control" id="usernameReg" name="usernameReg" [(ngModel)]="newUser.username">
          </div>
          <div class="form-group">
            <label for="contraseñaReg">Contraseña</label>
            <input type="password" class="form-control" id="contraseñaReg" name="contraseñaReg"
              [(ngModel)]="newUser.password">
          </div>
          <div class="form-group">
            <label for="re-contraseñaReg">Repetir Contraseña</label>
            <input type="password" class="form-control" id="re-contraseñaReg" name="re-contraseñaReg"
              [(ngModel)]="repass">
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="register();">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalNewUser" tabindex="-1" role="dialog" aria-labelledby="ModalNewUser" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalNewUserLongTitle">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddUserModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreAU">Nombre</label>
            <input type="text" class="form-control" id="nombreAU" name="nombreAU" [(ngModel)]="newUser.name">
          </div>
          <div class="form-group">
            <label for="usernameAU">Usuario</label>
            <input type="text" class="form-control" id="usernameAU" name="usernameAU" [(ngModel)]="newUser.username">
          </div>
          <div class="form-group">
            <label for="contraseñaAU">Contraseña</label>
            <input type="password" class="form-control" id="contraseñaAU" name="contraseñaAU"
              [(ngModel)]="newUser.password">
          </div>
          <div class="form-group">
            <label for="re-contraseñaAU">Repetir Contraseña</label>
            <input type="password" class="form-control" id="re-contraseñaAU" name="re-contraseñaAU"
              [(ngModel)]="repass">
          </div>
          <div class="form-group">
            <label for="userType">Tipo de Usuario</label>
            <select class="form-control" id="admin" name="admin" [(ngModel)]="newUser.userTypeId">
              <option value="1">Admin</option>
              <option value="2">Comprador</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="register();">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalNewProduct" tabindex="-1" role="dialog" aria-labelledby="ModalNewProduct"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalNewProductLongTitle">Nuevo Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddProductModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreProd">Nombre</label>
            <input type="text" class="form-control" id="nombreProd" name="nombreProd" [(ngModel)]="newProduct.name">
          </div>
          <div class="form-group">
            <label for="categoriaProd">Categoria</label>
            <select class="form-control" id="categoriaProd" name="categoriaProd" [(ngModel)]="newProduct.categoryId"
              (ngModelChange)="getSubcategoriasByCategoria(newProduct.categoryId)">
              <option value="{{cat.id}}" *ngFor="let cat of categorias">{{cat.name}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="newProduct.categoryId">
            <label for="subcategoriaProd">Subcategoria</label>
            <select class="form-control" id="subcategoriaProd" name="subcategoriaProd"
              [(ngModel)]="newProduct.subcategoryId">
              <option value="{{subcat.id}}" *ngFor="let subcat of subcategorias">{{subcat.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="proveedorProd">Proveedor</label>
            <select class="form-control" id="proveedorProd" name="proveedorProd" [(ngModel)]="newProduct.supplierId">
              <option value="{{supp.id}}" *ngFor="let supp of suppliers">{{supp.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imagenProd">Imagen</label>
            <input type="file" class="form-control-file" id="imagenProd" name="imagenProd"
              (change)="selectFile($event)">
          </div>
          <div [innerHtml]='filemsg' *ngIf="filemsg" style="color: red;"></div>
          <div class="form-group">
            <label for="precioProd">Precio</label>
            <input type="number" class="form-control" id="precioProd" name="precioProd" [(ngModel)]="newProduct.price">
          </div>
          <div class="form-group">
            <label for="locationProd">Locación</label>
            <select class="form-control" id="locationProd" name="locationProd" [(ngModel)]="newProduct.location">
              <option value="local">Local</option>
              <option value="externo">Externo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="descripcionProd">Descripción</label>
            <textarea class="form-control" id="descripcionProd" name="descripcionProd" cols="30" rows="4"
              [(ngModel)]="newProduct.description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="addProd();">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalNewSupplier" tabindex="-1" role="dialog" aria-labelledby="ModalNewSupplier"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalNewSupplierLongTitle">Nuevo Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddSupplierModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreAS">Nombre</label>
            <input type="text" class="form-control" id="nombreAS" name="nombreAS" [(ngModel)]="newSupplier.name">
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="addSupplier();">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalNewCategoria" tabindex="-1" role="dialog" aria-labelledby="ModalNewCategoria"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalNewCategoriaLongTitle">Nueva Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddCategoriaModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreAC">Nombre</label>
            <input type="text" class="form-control" id="nombreAC" name="nombreAC" [(ngModel)]="newCategoria.name">
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="addCategoria();">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalNewSubCategoria" tabindex="-1" role="dialog" aria-labelledby="ModalNewSubCategoria"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalNewSubCategoriaLongTitle">Nueva Subcategoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddSubCategoriaModal
          (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreASC">Nombre</label>
            <input type="text" class="form-control" id="nombreASC" name="nombreASC" [(ngModel)]="newSubcategoria.name">
          </div>
          <div class="form-group">
            <label for="categoriaASC">Categoria</label>
            <select class="form-control" id="categoriaASC" name="categoriaASC" [(ngModel)]="newSubcategoria.categoryId">
              <option value="{{c.id}}" *ngFor="let c of categorias">{{c.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Cerrar</button> -->
          <button type="submit" class="btn btn-primary btn-block" (click)="addSubcategoria();">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Alerts section-->
<div class="alert alert-success success fixed-bottom" role="alert" *ngIf="successAlert">
  {{successMessage}}
</div>
<div class="alert alert-danger error fixed-bottom" role="alert" *ngIf="errorAlert">
  {{errorMessage}}
</div>