<div class="container mt-5 mb-5" *ngIf="order">
  <div *ngIf="!fromBuy">
      <i class="far fa-arrow-alt-circle-left back" routerLink="/orders" routerLinkActive="active"></i>
  </div>
  <h2>Orden #{{order.num}}</h2>
  <!-- <p>Estado: Su orden ha sido entregada</p> -->
  <p>Fecha de la orden: {{order.date}}</p>
  <p>Precio total de la orden: {{order.totalPrice}}</p>
  <hr>
  <h5>Detalle de la orden.</h5>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of order.carts">
        <td class="align-middle">
          <img [src]="'https://compralocal-images.s3.us-east-2.amazonaws.com/products/' + cart.product.image" alt="" class="order-product-img">
          {{cart.product.name}}
        </td>
        <td class="align-middle">{{cart.product.price}}</td>
        <td class="align-middle">{{cart.quantity}}</td>
        <td class="align-middle">{{cart.totalPrice}}</td>
      </tr>
      <tr>
        <th scope="row" colspan="3">Subtotal</th>
        <th>{{order.totalPrice}}</th>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-block btn-primary" (click)="sendM()">mail</button>
</div>