.prod-img{
    max-width: 80%;
    max-height: 50px;
}

.cantText{
    width: 2rem;
    display: inline-block;
}

.my-custom-scrollbar {
    position: relative;
    height: 350px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.sadImage{
    width: 50%;
}

.help-img{
    max-width: 90%;
}

.list-group-item{
    text-align: center;
    width: 50%;
    cursor: pointer;
}

.list-group-item:hover{
    background-color: var(--degradado3);
}

.check-img{
    margin-top: 20%;
}

.success, .error{
    width: 35%;
    left: auto;
    z-index: 1050;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}