.img-post{
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
}

.post-content-section{
    text-align: center;
}

.post-content-section>h3{
    font-weight: 700;
}

.post-title{
    margin-bottom: 2rem;
}

.post-content{
    text-align: justify;
}

.img-post-section{
    margin-bottom: 2rem;
}

.back{
    font-size: 2rem;
    cursor: pointer;
}

.back-section{
    top: 1rem;
    left: -2.5rem;
}

.text-frase{
    color: var(--primary2);
    font-size: x-large;
    font-weight: 700;
}

.frase-section{
    background-color: #49ffe5;
    padding: 2rem;
}

.list-group-item{
    /* width: 32%; */
    padding: 0;
    margin-right: 1.5%;
    cursor: pointer;
}

.list-group-item:hover{
    box-shadow: 0 5px 20px #aaa;
}

.list-group{
    margin-bottom: 3rem;
}

.img-section>.img-post{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.post-text{
    padding: 2rem;
    min-height: 10rem;
}

.info-post{
    color: rgba(0,0,0,.3);
    font-weight: 600;
    font-size: 0.875rem;
}

.one-post-title{
    font-weight: 600;
}

li{
    border: 1px solid rgba(0,0,0,.125) !important;
}

ul{
    display: grid;
    grid-template-areas: 'p1 p2 p3 p4';
    grid-gap: 1rem;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
}

.all-posts-title{
    font-size: xxx-large;
    font-weight: 700;
    color: #777;
    margin-bottom: 2rem;
}

.post-author{
    text-align: left;
    font-style: italic;
    margin-bottom: 1rem;
}

@media(max-width: 575px){
    ul{
        grid-template-areas: 'p1';
        grid-template-columns: 100%;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    ul{
        grid-template-areas: 'p1 p2';
        grid-template-columns: 49% 49%;
        justify-content: space-between;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    ul{
        grid-template-areas: 'p1 p2 p3';
        grid-template-columns: 32% 32% 32%;
        justify-content: space-between;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    
}

@media(min-width: 1200px){
    
}