<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 title">
      <h1 class="fw-700" *ngIf="supplier">{{supplier.name}}</h1>
      <h1 class="fw-700" *ngIf="educacion">Educa Impacta Crece</h1>
      <h1 class="fw-700" *ngIf="reforestacion">Andoforestando</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
      <img *ngIf="supplier" [src]="'https://compralocal-images.s3.us-east-2.amazonaws.com/suppliers/' + supplier.image"
        alt="" class="supp-img">
      <img *ngIf="educacion" src="../../assets/imgs/educa-imacta-crece.jpg" alt="" class="supp-img">
      <img *ngIf="reforestacion" src="../../assets/imgs/andoforestando.png" alt="" class="supp-img">
    </div>
  </div>
  <hr>
  <div>
    <div class="row mt-5" *ngIf="educacion">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 title-eic-section">
        <h2>CREAMOS ESPACIOS DE APRENDIZAJE ENFOCADOS EN EL DESARROLLO INTEGRAL DE LAS PERSONAS <br><br>
          ¿QUÉ SIGNIFICA ESTO?</h2>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="info-eic-section">
          <img
            src="https://static.wixstatic.com/media/9db142_e1723d605dcb43aab307413ea9404364~mv2.png/v1/fill/w_136,h_136,al_c,q_85,usm_0.66_1.00_0.01/joy.webp"
            alt="joy.png"
            style="width: 68px; height: 68px; object-fit: cover; object-position: 50% 50%; align-self: center;">
          <p>
            Buscamos impactar en el desarrollo emocional de las personas, buscando que puedan identificar, manejar y
            regular sus propias emociones.
          </p>
        </div>
        <div class="info-eic-section">
          <img
            src="https://static.wixstatic.com/media/9db142_ed014a40668d47e8946ac91810208830~mv2.png/v1/fill/w_136,h_136,al_c,q_85,usm_0.66_1.00_0.01/family-2.webp"
            alt="family-2.png"
            style="width: 68px; height: 68px; object-fit: cover; object-position: 50% 50%; align-self: center;">
          <p>
            Consideramos el desarrollo social muy importante. Con nuestros programas buscamos que las personas actúen
            con
            empatía con las personas de su entorno.
          </p>
        </div>
        <div class="info-eic-section">
          <img
            src="https://static.wixstatic.com/media/9db142_0cca951e3a6d49bc82d31fecbb697f21~mv2.png/v1/fill/w_122,h_122,al_c,q_85,usm_0.66_1.00_0.01/children.webp"
            alt="children.png"
            style="width: 61px; height: 61px; object-fit: cover; object-position: 50% 50%; align-self: center;">
          <p>
            Incluimos el desarrollo cognitivo ya que la adquisición de nuevos conocimientos y habilidades es vital
            para
            seguir desarrollándote como individuo y sociedad.
          </p>
        </div>
        <div class="info-eic-section">
          <img
            src="https://static.wixstatic.com/media/9db142_0cca951e3a6d49bc82d31fecbb697f21~mv2.png/v1/fill/w_122,h_122,al_c,q_85,usm_0.66_1.00_0.01/children.webp"
            alt="children.png"
            style="width: 61px; height: 61px; object-fit: cover; object-position: 50% 50%; align-self: center;">
          <p>
            Sabemos que para lograr el desarrollo integral, tenemos que preocuparnos por la salud física de las
            personas.
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="reforestacion">
      <h5>Descripción</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptatem, eos repellat quam dicta
        beatae
        ullam deserunt, consectetur cum eum esse possimus, praesentium nostrum dolorum alias necessitatibus quidem
        dolore
        qui!</p>
    </div>

    <div *ngIf="supplier">
      <h5>Descripción</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptatem, eos repellat quam dicta
        beatae
        ullam deserunt, consectetur cum eum esse possimus, praesentium nostrum dolorum alias necessitatibus quidem
        dolore
        qui!</p>
    </div>
  </div>

  <hr>
  <div *ngIf="reforestacion" class="text-center">
    <img src="../../assets/imgs/reforest-photo.jpg" alt="" class="img-content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptatem, eos repellat quam dicta beatae
      ullam deserunt, consectetur cum eum esse possimus, praesentium nostrum dolorum alias necessitatibus quidem
      dolore
      qui!
    </p>
  </div>

  <div *ngIf="educacion">
    <div class="text-center">
      <img
        src="https://static.wixstatic.com/media/9db142_66530a5072664a20bed82f9f88d4fd3e~mv2.jpg/v1/fill/w_2880,h_1390,al_c,q_90,usm_0.66_1.00_0.01/9db142_66530a5072664a20bed82f9f88d4fd3e~mv2.webp"
        alt="" class="img-content">
    </div>

  </div>

  <h5 *ngIf="supplier">Productos</h5>

  <!--Sección de productos-->
  <app-products #prodComp *ngIf="supplier"></app-products>

  <!-- <hr>
  <h5>Ubicación</h5>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeId"></agm-map> -->

</div>