ul{
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 'p1 p2 p3 p4 p5';
    grid-gap: 1rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.prod-img{
    height: 18rem;
    width: 100%;
    object-fit: cover;
    margin: auto;
    line-height: 1.5;
    cursor: pointer;
}

.prod-item, .prod-item-nohover{
    /* width: 18%; */
    height: 100%;
    margin-right: 2.5%;
    /* border: solid 1px var(--primary2) !important;
    border-radius: 10px 10px 10px 10px !important; */
}

.prod-item-nohover .prod-img{
    cursor: auto;
}

.prod-item:hover{
    background-color: var(--primary3);
    border-radius: 0 0 10px 10px;
    color: white;
}

.prod-item:hover .cl-c1{
    color: black;
}

.prod-item:hover s{
    color: gray;
}

.prod-item:hover .prod-cart-section{
    background-color: #eeeeee;
}

.img-prod-section{
    /* height: 10rem; */
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom: none;
}

.fast-view{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid rgba(0,0,0,.125);
    display: none;
}

.fast-view:hover{
    background-color: var(--primary3);
    color: white;
    cursor: pointer;
}

.page-link{
    cursor: pointer;
}

.sadImage{
    width: 40%;
}

/* .prod-section{
    background-image: url('../../assets/imgs/alpacas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
} */

li{
    border: none;
}

.page-item > a{
    color: var(--primary3);
}

.page-item.active-cl > a{
    background-color: var(--primary1);
    color: white;
}

.prod-item p, .prod-item-nohover p{
    margin: 0;
}

.number-items{
    width: 20%;
}

.prod-item button, .prod-item-nohover button{
    padding: 0;
}

.prod-cart-section{
    background-color: white;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /* border: 1px solid var(--primary3); */
    border-radius: 20px 20px 20px 20px;
}

.prod-cart-section button{
    color: var(--primary2);
}

.prod-cart-section button:hover{
    color:white;
    /* background-color: var(--dark2); */
    background-color: var(--primary2);
}

.list-group-item{
    padding: 0;
}

.prod-second-section{
    padding: .75rem 1.25rem;
    /* border: 1px solid var(--primary2); */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px 0px 10px 10px;
}

s{
    font-weight: 300;
    /* color: var(--degradado1); */
    color: var(--primary3);
}

.div-btn-close{
    padding: 1rem 1rem;
}

.prod-title-section{
    height: 3rem;
    display: flex;
    align-items: center;
}

.prod-title{
    margin: auto !important;
    font-size: 1.2rem;
}

.supp_name_onprod{
    font-size: 0.8rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media(max-width: 575px){
    ul{
        grid-template-areas: 'p1';
        grid-template-columns: 100%;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    ul{
        grid-template-areas: 'p1 p2';
        grid-template-columns: 50% 50%;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    ul{
        grid-template-areas: 'p1 p2 p3';
        grid-template-columns: 33% 33% 33%;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    ul{
        grid-template-areas: 'p1 p2 p3 p4';
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media(min-width: 1200px){    
    .prod-item:hover .fast-view{
        display: block;
    }
}