<div class="container mt-5 mb-5">
    <div class="post-list">
        <div class="container d-block text-right mb-3" *ngIf="userService.userInfo.userTypeId == 1">
            <button class="btn btn-cl2" data-toggle="modal" data-target="#ModalNewPost">
                Nuevo Post
            </button>
        </div>

        <ul class="list-group list-group-horizontal">
            <li [className]="p.last? 'list-group-item last-item' : 'list-group-item'" routerLink="/post/{{p.id}}" routerLinkActive="active"
                *ngFor="let p of posts.slice(0, listRows * itemsPerRow); let i = index">
                <div class="img-section">
                    <img [src]="'https://compralocal-images.s3.us-east-2.amazonaws.com/blog-posts/' + p.image" alt=""
                        class="img-post">
                </div>
                <div class="post-text">
                    <div class="info-post">
                        {{p.user.name}} - {{p.date}}
                    </div>
                    <div class="post-title">
                        {{p.title}}
                    </div>
                    <div class="post-reciente" *ngIf="p.last">
                        Post más reciente
                    </div>
                </div>
            </li>
        </ul>

        <div class="container d-block text-right" *ngIf="thereMore">
            <button class="btn btn-cl2" (click)="showMore()">
                Ver más
            </button>
        </div>
    </div>
</div>


<!--Modal add post-->
<div class="modal fade" id="ModalNewPost" tabindex="-1" role="dialog" aria-labelledby="ModalNewPost" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalNewPostLongTitle">Nuevo Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddPostModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titlePost">Título</label>
                        <input type="text" class="form-control" id="titlePost" name="titlePost"
                            [(ngModel)]="newPost.title">
                    </div>
                    <div class="form-group">
                        <label for="imagePost">Imagen</label>
                        <input type="file" class="form-control-file" id="imagePost" name="imagePost"
                            (change)="selectFile($event)">
                    </div>
                    <div [innerHtml]='filemsg' *ngIf="filemsg" style="color: red;"></div>
                    <div class="form-group">
                        <label for="contentPost">Contenido</label>
                        <textarea class="form-control" id="contentPost" name="contentPost" cols="30" rows="10"
                            [(ngModel)]="newPost.content"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block btn-disabled" type="button" disabled *ngIf="posting">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Publicando...
                    </button>
                    <button type="submit" class="btn btn-primary btn-block" (click)="addPost();" *ngIf="!posting">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Alerts section-->
<div class="alert alert-success success fixed-bottom" role="alert" *ngIf="successAlert">
    {{successMessage}}
</div>
<div class="alert alert-danger error fixed-bottom" role="alert" *ngIf="errorAlert">
    {{errorMessage}}
</div>