/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
    --primary1: #ba1cb3;
    --primary2: #5e17eb; 
    --primary3: #1aa9e8;

    --dark1: #b46caa;
    --dark2: #5755a1;
    --dark3: #4faee2;

    --degradado1: #c18ebe;
    --degradado2: #8a8ac1;
    --degradado3: #94c9e0;
}

body{
    font-family: 'Montserrat', sans-serif !important;
}

.row{
    margin: 0%;
}

.cl-c1{
    color: var(--primary1);
}

.cl-bg1{
    background-color: var(--primary1);
}

.cl-c2{
    color: var(--primary2);
}

.cl-bg2{
    background-color: var(--primary2);
}

.cl-c3{
    color: var(--primary3);
}

.cl-bg3{
    background-color: var(--primary3);
}

.btn-cl1{
    background-color: var(--primary1);
    color: white;
}

.btn-cl1:hover{
    background-color: var(--dark1);
    color: white;
}

.btn-cl2{
    background-color: var(--primary2);
    color: white;
}

.btn-cl2:hover{
    background-color: var(--dark2);
    color: white;
}

.btn-cl3{
    background-color: var(--primary3);
    color: white;
}

.btn-cl3:hover{
    background-color: var(--dark3);
    color: white;
}

.btn-disabled{
    cursor: not-allowed;
}

.fw-100{
    font-weight: 100;
}

.fw-200{
    font-weight: 200;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 800;
}

.fw-900{
    font-weight: 900;
}


@media(max-width: 575px){
    
}

@media(min-width: 576px) and (max-width: 767px){
    
}

@media(min-width: 768px) and (max-width: 992px){
    
}

@media(min-width: 992px) and (max-width: 1199px){
    
}

@media(min-width: 1200px){
    
}