.prod-img{
    max-width: calc(100% - 7rem);
    object-fit: cover;
}

input{
    max-width: 100%;
}

.prod-detail{
    margin-bottom: 3rem;
}

.prod-detail-content{
    display: grid;
    grid-template-areas: 
    'img info'
    'img action';
    grid-gap: 1rem;
    grid-template-columns: 60% 30%;
    justify-content: space-around;
}

.prod-detail-section{
    display: flex;
    align-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

.prod-detail-info-section{
    display: flex;
    align-content: center;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.prod-info-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: end;
}

/* .action-section{
    align-self: center;
} */

#detail-img{
    grid-area: img;
}

#detail-info{
    grid-area: info;
}

#detail-action{
    grid-area: action;
}

s{
    font-weight: 300;
    color: gray;
}

.btn-none{
    color: inherit;
    text-decoration: none;
}

.btn-none:hover{
    color: inherit;
    text-decoration: none;
}

.prod-detail-title{
    display: grid;
    grid-template-areas: 'p1 p2';
    justify-content: space-between;
    padding-bottom: 1rem;
}

.coment-area{
    width: 100%;
}

.coment-section{
    width: 50%;
}

i{
    color: orange;
}

.user-comment>i{
    cursor: pointer;
}

.side-imgs{
    display: flex;
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.side-imgs img{
    width: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid black;
}

.side-imgs img:hover{
    border: 2px solid blue;
}

.small-img-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-flex input{
    width: 20%;
}

.imgMod{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.form-check{
    display: flex;
    align-items: center;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover{
    background-color: var(--degradado3);
}

.back{
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

.back-section{
    top: 1rem;
    left: -2.5rem;
}

.imgToEdit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.imgToEdit>input{
    width: auto !important;
}


.tag-dist{
    margin: 0px 5px 10px 5px;
    border: 1px solid var(--primary1);
    border-radius: 15px;
    padding: 5px;
}

.tag-dist>label{
    padding: 0 5px 0 0;
    border-right: 1px solid var(--primary1);
    margin-bottom: 0;
}

.tag-dist>b{
    padding: 0 0 0 5px;
    color: red;
    cursor: pointer;
}


input.ng-invalid{
    border-color: red;
}

input.ng-untouched{
    border-color: #ced4da;
}

sup{
    color: red;
    font-size: 110% !important;
    top: 0 !important;
}

.calc-section{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 15px;
}

@media(max-width: 575px){
    .prod-detail-content{
        grid-template-areas: 
        'img'
        'info'
        'action';
        grid-template-columns: 100%;
    }
    .coment-section{
        width: 100%;
    }
    .prod-detail-title{
        grid-template-areas:
        'p1'
        'p2';
        grid-template-columns: 100%;
    }
    .prod-detail-info-section{
        flex-direction: column;
    }
    .side-imgs{
        flex-direction: row;
    }
    
    .side-imgs img{
        margin-right: 10px;
        width: 3rem;
    }
    .prod-img{
        max-width: 100%;
    }
    .prod-info-section{
        align-self: center;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .prod-detail-content{
        grid-template-areas: 
        'img'
        'info'
        'action';
        grid-template-columns: 100%;
    }
    .coment-section{
        width: 100%;
    }
    .prod-detail-info-section{
        flex-direction: column;
    }
    .side-imgs{
        flex-direction: row;
    }
    
    .side-imgs img{
        margin-right: 10px;
        width: 3rem;
    }
    .prod-img{
        max-width: 100%;
    }
    .prod-info-section{
        align-self: center;
    }
}

@media(min-width: 768px) and (max-width: 992px){ 
    .prod-detail-content{
        grid-template-areas: 
        'img img'
        'info action';
        grid-template-columns: 50% 50%;
    }
    .coment-section{
        width: 80%;
    }
    .prod-info-section{
        align-self: center;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    
}

@media(min-width: 1200px){
    
}